/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}

.center-block {
    float: none;
}

img {
    margin: 10px;
}

.my-drop-zone {
    display: block;
    width: 200px;
    height: 100px;
    margin: 10px auto;
    text-align: center;
    line-height: 34px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #41c7f9;
    color: #fff;
}

.img-item {
    max-width: 300px;
}