<h3 class="page-header">Список игр</h3>

<div class="row">
	<div class="form-inline">
		<label class="form-group" for="username">Имя</label>
		<input class="form-control" id="username" [(ngModel)]="username" type="text">
	</div>
</div>

<div class="row" *ngFor="let game of games">
	<div class="col-xs-4 col-lg-4 col-md-4">
		<a>
			<img class="img-responsive img-thumbnail" [src]="stubPhoto">
		</a>
	</div>
	<div class="col-xs-4 col-lg-4 col-md-4">
		<h4>Создатель игры - {{game.host}}</h4>
		<p>Количество игроков - {{game.users.length}}</p>
	</div>
	<div class="pull-right">
		<a class="btn btn-success" (click)="connectToGame(game._id)"><span class="glyphicon glyphicon-download">Подключиться</span></a>
	</div>
</div>