<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Cities app</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse" [collapse]="isCollapsed">
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="/newgame">
					<span class="glyphicon glyphicon-star"></span> Новая игра</a></li>
				<li><a routerLink="/connect">
					<span class="glyphicon glyphicon-globe"></span> Присоединиться к игре</a></li>
				<li><a routerLink="/addcity">
					<span class="glyphicon glyphicon-plus"></span> Добавить город</a></li>
				<li><a routerLink="/rules">
					<span class="glyphicon glyphicon-bookmark"></span> Правила</a></li>
			</ul>
		</div>
	</div>
</nav>

<!--<nav>
	<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
	<a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>-->


<div class="container">
	<div class="row">
		<div class="center-block">
			<router-outlet></router-outlet>
		</div>
	</div>

</div>