<div class="jumbotron">
	<h1>Угадай город!</h1>
	<p>Всё просто - угадай город быстрее своих друзей и получи морковку!</p>
</div>

<div class="row">
	<div class="text-center btn-group-lg btn-group-vertical center-block">
		<a class="btn btn-primary" routerLink="/newgame">Новая игра</a>
		<a class="btn btn-info" routerLink="/connect">Присоединиться к игре</a>
		<a class="btn btn-success" routerLink="/addcity">Добавить город</a>
		<a class="btn btn-warning" routerLink="/rules">Правила</a>
	</div>
</div>
