<form id="cityUpload" method="POST" enctype="multipart/form-data">
	<div class="row">
		<input type="text" name="city" [(ngModel)]="city" class="form-control" placeholder="Имя города" required>
	</div>
	<div class="clearfix"></div>

	<div ng2FileDrop
	     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
	     (fileOver)="fileOverBase($event)"
	     [uploader]="uploader"
	     class="well my-drop-zone">
		Добавить фото
	</div>

	<button type="submit" class="btn btn-primary" (click)="uploader.uploadAll()">Загрузить все</button>

</form>

<table class="table">
	<thead>
	<tr>
		<th width="50%">Файл</th>
		<th>Статус</th>
		<th>Действия</th>
		<th>Размер</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let item of uploader.queue">
		<td><strong>{{ item?.file?.name }}</strong></td>
		<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
		<td *ngIf="uploader.isHTML5">
			<div class="progress" style="margin-bottom: 0;">
				<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
			</div>
		</td>
		<td class="text-center">
			<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
			<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
			<span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
		</td>
		<td nowrap>
			<button type="button" class="btn btn-success btn-xs"
			        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
				<span class="glyphicon glyphicon-upload"></span> Upload
			</button>
			<button type="button" class="btn btn-warning btn-xs"
			        (click)="item.cancel()" [disabled]="!item.isUploading">
				<span class="glyphicon glyphicon-ban-circle"></span> Cancel
			</button>
			<button type="button" class="btn btn-danger btn-xs"
			        (click)="item.remove()">
				<span class="glyphicon glyphicon-trash"></span> Remove
			</button>
		</td>
		<td class="text-center">
			<span *ngIf="item.file.size">{{item.file.size}}</span>
		</td>
	</tr>
	</tbody>
</table>

<!--
<div>
	Response: {{ response | json }}
</div>

<button class="button" (click)="startUpload()">Start Upload</button>
<div *ngFor="let image of previewData" class="row">
	<img class="img-responsive img-rounded" [src]="image" width="400" height="300" alt="Preview Data" class="preview-img">
</div>-->
