<h1 class="page-title">Какой это город?</h1>
<h3>Попыток осталось: {{tries}}</h3>

<div>
	<alert dismissOnTimeout="5000" *ngIf="showErrorAlert" [type]="alerts[0].type" dismissible="true"
	       (close)="closeAlert(0)">
		{{ alerts[0].msg }}
	</alert>
</div>
<div>
	<alert dismissOnTimeout="5000" *ngIf="showSuccessAlert" [type]="alerts[1].type" dismissible="true"
	       (close)="closeAlert(1)">
		{{ alerts[1].msg }}
	</alert>
</div>

<div class="center row" *ngIf="city">
	<img class="thumbnail" [src]="city.photo">
</div>

<div class="row">
	<div class="input-group input-group-lg">
		<form *ngIf="!solved" class="form-inline" (submit)="guestCity($event, guess)">
			<div class="form-group">
				<input type="text" #guess class="form-control" placeholder="Этот город называется" required>
			</div>
			<button type="submit" class="btn btn-default">Ответить</button>
		</form>

	</div>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Игра окончена</h4>
			</div>
			<div class="modal-body">
				<div *ngIf="solved">
					<p>Вы выйграли! Урааа</p>
				</div>
				<div *ngIf="!solved">
					<p>Вы проиграли. Можно всегда попробовать снова</p>
				</div>
				<a class="btn btn-primary" *ngIf="solved" routerLink="/newgame">Новая игра?</a>
			</div>
		</div>
	</div>
</div>