<div class="text-center">
	<h1 class="page-title">Какой это город?</h1>
	<h3>Попыток осталось: {{tries}}</h3>
</div>
<div class="row" *ngIf="city">
	<div class="row">
		<div class="col-sm-4 col-md-6 col-lg-8 center-block">
			<img class="img-thumbnail img-responsive" [src]="displayPhoto">
		</div>
	</div>

	<div class="row">
		<a class="btn btn-info col-lg-offset-5 col-md-offset-4 col-sm-offset-3" (click)="showNextPhoto()">Другое фото</a>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-4 center-block">
			<form *ngIf="!solved" class="form-inline" (submit)="guestCity($event, guess)">
				<div class="input-group input-group-lg">
					<input type="text" #guess class="form-control" placeholder="Этот город называется?" required>
				</div>
				<button type="submit" class="btn btn-default">Ответить</button>
			</form>
		</div>
	</div>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Игра окончена</h4>
			</div>
			<div class="modal-body">
				<div *ngIf="solved">
					<p class="text-succes">{{winner}} выиграл! Урааа</p>
					<p ng-if="currentUser == winner" class="bg-info">Количество попыток: {{3 - tries}}</p>
					<p ng-if="currentUser == winner" class="bg-info">Количество подсказок: {{hints}}</p>
				</div>
				<div *ngIf="!solved">
					<p class="text-danger">Вы проиграли. Можно всегда попробовать снова</p>
				</div>
				<a class="btn btn-primary" routerLink="/newgame">Новая игра</a>
				<a class="btn btn-info" routerLink="/connect">Присоединится к игре</a>
			</div>
		</div>
	</div>
</div>